<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Find your job</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/jobs" style="cursor: pointer;">JOBS</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/favorites" style="cursor: pointer;">FAVORITES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
