<div class="card-body">
  <div>
    <img
      width="40px"
      height="40px"
      style="float: left; margin: 15px;"
      [src]="item.companyLogo"
    />
  </div>
  <h4
    class="card-title"
    style="cursor: pointer; display: inline-block;"
    (click)="onOpenDetail()"
  >
    {{ item.title }}
  </h4>
  <span
    *ngIf="showStarIcon"
    [id]="starId"
    appHighlight
    [marked]="isMarkedAsFavorite"
    [class.active]="isMarkedAsFavorite"
    (click)="onClickFavorite()"
    class="icon-star"
    style="
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      margin: 20px;
    "
  ></span>
  <div style="display: flex;">
    <p class="card-text">Company: {{ item.companyName }}</p>
    <p class="card-text">Reference: {{ item.reference }}</p>
  </div>
</div>
