div.card-body {
  margin-bottom: 5px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

p {
  margin-right: 15px;
}

h4:hover {
  text-decoration: underline;
  font-weight: bold;
}
