<div class="row">
  <div class="col-md-12">
    <ng-container *ngIf="hasFavorites">
      <div *ngFor="let fav of favorites">
        <app-job-item [item]="fav"></app-job-item>
      </div>
    </ng-container>
    <h3 *ngIf="!hasFavorites">There are no favorites selected!</h3>
  </div>
</div>
