<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default" (click)="onClickBack()">Back</button>
    <div class="title">
      <img [src]="jobDetail.companyLogo" style="margin-right: 35px;" />
      <div style="margin-bottom: 20px;">
        <h1>{{ jobDetail.companyName }} - {{ jobDetail.title }}</h1>
        <span
          *ngFor="let type of jobDetail.types; index as i"
          [id]="'type-' + {i}"
          class="badge badge-secondary"
          >{{ type }}</span
        >
        <span
          *ngFor="let industry of jobDetail.industries; index as i"
          [id]="'industry-' + {i}"
          class="badge badge-secondary"
          >{{ industry }}</span
        >
      </div>
    </div>
    <span id="puplish-date"
      ><b>Publish Date:</b> {{ jobDetail.publishDate | date: 'shortDate'
      }}</span
    ><br />
    <span id="location"><b>Location:</b> {{ jobDetail.location }}</span><br />
    <span id="reference"><b>Reference:</b> {{ jobDetail.reference }}</span
    ><br />
    <b>Description:</b><br />
    <span id="description" [innerHTML]="jobDetail.description"></span>
  </div>
</div>
