button {
  margin-bottom: 15px;
}

img {
  width: 80px;
  height: 80px;
  background-color: lightblue;
}

.title {
  display: flex;
  margin-bottom: 20px;
}

.badge {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}
